.form {
  margin: 10px;
  margin-top: 0px;
}

.db-field {
  
  margin: 5px 0 5px 0;
}

.db-field div {
  padding: 3px;

}

.table-name {
  display: block;
}

.stretch {
  width: 100%;
}

.removeButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}