* {
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.main {
  margin: 40px 10% 0 10%;
}

.connection {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.vertical-align {
  width: 50px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #808080;
}

.margin-10 {
  margin: 10px;
}